header {
  display: flex;
  flex-flow: column nowrap;
}

header img {
  width: 40%;
  align-self: center;
}

li {
    list-style: none;
    display: table;
    min-width: 300px;
    max-width: 600px;
    padding: 20px 10px;
    margin: 7px;
    /*border-bottom: 2px solid #80808066;*/
    border-radius: 6px;
    border: 2px solid aliceblue;
    flex: 0 0 300px;
}

label {
  padding: 8px;
}

input[type="checkbox"] {
  position: relative;
  top: 7px;
}

label {
  position:relative;
  top: 3px;
}

.explanation {
  padding: 10px 10px 10px 40px;
}

.explanation,label {
  font-size: 1.2em;
  line-height: 1.3em;
}

h3{
  font-weight: 250;
  font-size: 1.9em!important;
  letter-spacing: 2.4px;
}