@charset "utf-8";
/* CSS Document */

/* account items -------------------------------------------------------------------*/

.accountlistscrollarea
{
	position:absolute;
	width: 380px;
	height: 514px;
	top: 0px;
	left: 0px;
	display: block;
	margin:0px;
	padding: 0px;
	overflow-y: scroll;
}

.accountlistitem
{
	width: 100%;
	height: 48px;
	display: inline-block;
	background-color: var(--NarListBack);
	border-style: none;
	border-bottom-color: var(--NarListHoover);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
}

.accountlistitem:hover 
{
	background-color: var(--NarListHoover);
}

.accountlistname 
{
	position:relative;
	color: var(--NarDarkHighlight);
	font-size: 15px;
	overflow:auto;
	display: inline-block;
	left: 3px;
	width: 360px;
	height:18px;
	top:0px;

}

.accountlistbalance 
{
	position:relative;
	text-align: right;
	color: var(--NarBotBar);
	font-weight: bolder;
	font-size: 20px;
	display: block;
	width: 188px;
	left: 188px;
	height: 25px;
	top:-4px;

}

.accountlistcomment 
{
	position:relative;
	display: inline-block;
	width: 100px;
	height:16px;
	top: -22px;
	left:2px;
	font-size: 12px;

}
