@charset "utf-8";
/* CSS Document */



/*Top Area             ------------------------------------------------------------*/

.accountdetstopleft
{
	position:absolute;
	top:0px;
	left:0px;
	width:48px;
	height:200px;
	margin-top:6px;
}

.accountdetstopright
{
	position:absolute;
	margin-top:6px;
	top:0px;
	left:312px;
	width:48px;
	height:200px;	
}

.accountdetstopcenter
{
	position:absolute;
	top:0px;
	left:40px;
	width:274px;
	height:210px;
	
}

.accountdetsmidbar
{
	position:absolute;
	top:170px;
	left:0px;
	width:359px;
	height:60px;
	padding-top: 5px;
	background-color: var(--NarMidBar);		
	display: inline-flex;
	justify-content:center;
}



/*Scroll area and items   ---------------------------------------------------------*/

.accountdetsscroll
{
	position:absolute;
	top:242px;
	left:0px;
	width:359px;
	height:279px;
	max-height: 300px;
	overflow-y: scroll;	
	background-color: blue;
}

.accountdetsassets
{
	position: relative;
	width: 359px;
	height: 64px;
	display: block;
	background-color: var(--NarListBack);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: lightgray;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	
}

.accountdetsassets:hover
{
	background-color: var(--NarListHoover);
}


.accountassetcoin
{
	position:relative;
	border-style: none;
	display: inline-block;
	top:0;
	left:0;
	width: 30px;	
	height: 58px;
}

.accountassettoken
{
	position:absolute;
	border-style: none;
	display: block;
	font-size: 16px;		
	top:1px;	
	left:35px;
	width: 300px;
}

.accountassetbalance
{
	position:absolute;
	display: block;
	border-style: none;
	font-weight: 400;
	color:var(--NarBotBar);
	font-size: 25px;		
	top:20px;	
	right:5px;
	width:359px;
	text-align: right;
	margin:0px;
	padding: 0px;

	
}

.accountassetfiat
{
	position:absolute;
	display: block;
	border-style: none;
	color:black;
	font-size:12px;		
	font-weight: 500;
	top:45px;	
	right:5px;
	width:200px;
	text-align: right;
}

/* top info */

.accountdetscuenta
{
	text-align: center;
	font-size:20px;
	color:var(--NarMidBar);	
	margin:5px;
	font-weight: 500;
}

.accountdetscomment
{
	text-align: center;
	font-weight: 100;
	font-size:15px;
}

.accountdetscoin
{
	text-align: center;
	font-weight: 200;
	font-size:18px;
}

.accountdetsbalance
{
	text-align: center;
	font-size:25px;
	color:var(--NarBotBar);
	font-weight: 800;
	margin:15px;
	
}

.accountdetsfiat
{
	text-align: center;
	font-size:16px;
	color:black;
	margin:15px;
}

/* for asset history */

.histreceive 
{	
	background-image: url("../icons/SVG/receive_dark_fix.svg");	
	height:50px;
	width: 32px;	
	background-repeat: no-repeat;
	background-position: center;
}

.histsend
{	
	background-image: url("../icons/SVG/send_dark_fix.svg");	
	height:50px;
	width: 32px;	
	background-repeat: no-repeat;
	background-position: center;
}

.assethistoryline
{
	position:relative;
	width: 359px;
	height: 58px;
	display: block;
	background-color: var(--NarListBack);
	margin: 0px;
	padding: 0px;
	top: 0px;
	bottom: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
}

.assethisttype
{
	position:absolute;
	display: inline-block;
	top:0px;
	left:5px;
	width: 60px;
	height: 20px;
	
}

.assethistaccount
{
	position:absolute;
	display:inline-block;
	left:48px;
	top:0px;
	width:300px;
	height:10px;
	color:blue;
	font-weight: 200;
}

.assethistdate
{
	position:absolute;
	display: inline-block;
	left:48px;
	top:18px;	
	width: 100px;
	height:20px;	
}

.assethistammount
{
	position:absolute;	
	top:21px;	
	right:5px;
	text-align: right;	
	font-size: 24px;
	font-color:var(--NarMidBar);	
	font-weight: 200;
	width: 400px;
	height:20px;	
}


