@charset "utf-8";
/* CSS Document */

/* top info */

.accountdetscuenta {
  text-align: center;
  display: block;

  color: var(--TextHightlight);

  margin: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  max-height: 24px;
  width: 260px;
  height: auto;
  max-height: 40px;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: initial;
  overflow: hidden;

  font-size: 18px;
  font-weight: 400;
}

.accountdetscomment {
  display: block;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 0px;

  max-height: 24px;
  height: 15px;
  width: 260px;
  text-align: center;
  color: var(--LightBorderLightAccent);
  font-size: 12px;
  font-weight: 200;
}

.accountdetssymbol {
  display: block;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 0px;
  color: var(--TextHightlight);
  max-height: 24px;
  height: 15px;
  width: 260px;
  text-align: center;

  font-size: 12px;
  font-weight: 400;
}

.assetdeticon svg {
  width: 24px;
  height: 24px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

.assetdetcontract {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0px;

  max-height: 24px;
  height: 15px;
  width: 260px;
  text-align: center;
  color: var(--LightBorderLightAccent);
  font-size: 12px;
  font-weight: 200;
}

.accountdetsbalance {
  display: block;
  margin: auto;
  margin-top: 1px;
  margin-bottom: 0px;
  max-height: 22px;
  height: 20px;
  width: 280px;
  text-align: center;
  margin-bottom: 15px;

  font-size: 22px;
  font-weight: 400;

  color: var(--TextHightlight);
}

.accountdetsbalance svg {
  background-color: white;
  border-radius: 6px;
  width: 15px;
  height: 15px;
  background-position: center;
  padding: 2px;
}

.accountdetsfiat {
  display: inline-block;
  margin-bottom: 0px;
  max-height: 24px;
  height: 28px;
  padding: 0px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  width: 260px;
  background: transparent;
  color: var(--LightBorderLightAccent);
  font-size: 15px;
  font-weight: 400;
}

.accountdetsfiat::after {
  content: " usd";
}

/*Scroll area and items   ---------------------------------------------------------*/

.accountdetsassets {
  position: relative;
  width: 359px;
  height: 48px;
  display: block;

  border-style: solid;
  border-width: 1px;

  font-weight: lighter;
  margin: 0px;
  padding: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;

  background: var(--LightBackground);
  background: linear-gradient(
    131deg,
    var (--LightGradientTop) 0%,
    var (--LightGradientBottom) 100%
  );
  border-top-color: var(--LightBorderLightAccent);
  border-left-color: var(--LightBorderLightAccent);
  border-right-color: var(--LightBorderDarkAccent);
  border-bottom-color: var(--LightBorderDarkAccent);
}

.accountdetsassets:hover {
  background-color: var(--NarListHoover);
  background: linear-gradient(
    131deg,
    var (--LightGradientDarkTop) 0%,
    var (--LightGradientDarkBot) 100%
  );
  border-top-color: var(--LightBorderLightAccent);
  border-left-color: var(--LightBorderLightAccent);
  border-right-color: var(--LightBorderDarkAccent);
  border-bottom-color: var(--LightBorderDarkAccent);
}

.accountassetcoin {
  position: absolute;
  border-style: none;
  display: inline-block;
  top: 15;
  left: 53px;
  width: 40px;

  font-size: 16px;
  font-weight: 200;
}

.accountassettoken {
  position: absolute;
  display: block;
  font-size: 12px;
  top: 0px;
  left: 80px;
  width: 271px;

  text-align: right;
  font-weight: bold;
  color: navy;
}

.accountasseticon svg {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 32;
  height: 32px;
  /*background-color: var(--LightBorderDarkAccent);*/
}

.accountassetbalance {
  position: absolute;
  display: block;
  border-style: none;
  font-weight: bold;

  font-size: 24px;
  top: 16px;
  left: 36px;
  width: 315px;
  text-align: right;

  color: var(--TextHightlight);
}

.accountassetfiat {
  position: absolute;
  display: block;
  border-style: none;
  color: black;
  font-size: 12px;
  font-weight: 500;
  top: 45px;
  right: 5px;
  width: 200px;
  text-align: right;
}

/* for asset history */

.histreceive {
  background-image: url("../icons/SVG/receive_dark_fix.svg");
  height: 50px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.histsend {
  background-image: url("../icons/SVG/send_dark_fix.svg");
  height: 50px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.assethistoryline {
  position: relative;
  width: 359px;
  height: 58px;
  display: block;
  background-color: var(--NarListBack);
  margin: 0px;
  padding: 0px;
  top: 0px;
  bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  overflow: hidden;
}

.assethisttype {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 5px;
  width: 60px;
  height: 20px;
}

.assethistaccount {
  position: absolute;
  display: inline-block;
  left: 48px;
  top: 0px;
  width: 300px;
  height: 10px;
  color: blue;
  font-weight: 200;
}

.assethistdate {
  position: absolute;
  display: inline-block;
  left: 48px;
  top: 18px;
  width: 100px;
  height: 20px;
}

.assethistammount {
  position: absolute;
  top: 21px;
  right: 5px;
  text-align: right;
  font-size: 24px;

  font-weight: 200;
  width: 400px;
  height: 20px;
}
