@charset "utf-8";
/* CSS Document */



/*Top Area             ------------------------------------------------------------*/

.accountdetstopleft
{
	position:absolute;
	top:0px;
	left:0px;
	width:48px;
	height:200px;
}

.accountdetstopright
{
	position:absolute;
	top:0px;
	left:332px;
	width:48px;
	height:200px;	
}

.accountdetstopcenter
{
	position:absolute;
	top:0px;
	left:49px;
	width:284px;
	height:210px;
	
}

.accountdetsmidbar
{
	position:absolute;
	top:170px;
	left:0px;
	width:379px;
	height:60px;
	padding-top: 5px;
	background-color: var(--NarMidBar);		
	display: inline-flex;
	justify-content:center;
}



/*Scroll area and items   ---------------------------------------------------------*/

.accountdetsscroll
{
	position:absolute;
	top:242px;
	left:0px;
	width:379px;
	height:312px;
	max-height: 300px;
	overflow-y: scroll;	
}

.accountdetsassets
{
	width: 380px;
	height: 72px;
	display: inline-block;
	background-color: var(--NarListBack);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: lightgray;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
}

.accountdetsassets:hover
{
	background-color: var(--NarListHoover);
}


.accountassetcoin
{
	position:relative;
	border-style: none;
	display: inline-block;
	top:0px;	
	left:0px;
	width: 30px;	
	height: 58px;
}

.accountassettoken
{
	position:relative;
	border-style: none;
	display: block;
	font-size: 16px;		
	top:-64px;	
	left:48px;
	width: 318px;
}

.accountassetbalance
{
	position:relative;
	display: block;
	border-style: none;
	font-weight: bold;
	color:var(--NarBotBar);
	font-size: 30px;		
	top:-68px;	
	left:04px;
	width:359px;
	text-align: right;

	
}

.accountassetfiat
{
	position:relative;
	display: block;
	border-style: none;
	color:black;
	font-size:12px;		
	font-weight: 500;
	top:-72px;	
	left:164px;
	width:200px;
	text-align: right;
}

.accountdetscuenta
{
	text-align: center;
	font-size:20px;
	color:var(--NarMidBar);	
	margin:5px;
}

.accountdetscomment
{
	text-align: center;
	font-weight: lighter;
	font-size:18px;
}

.accountdetscoin
{
	text-align: center;
	font-weight: lighter;
	font-size:18px;
}

.accountdetsbalance
{
	text-align: center;
	font-size:25px;
	color:var(--NarBotBar);
	font-weight: 800;
	margin:15px;
}

.accountdetsfiat
{
	text-align: center;
	font-size:16px;
	color:black;
	margin:15px;
}


.assethistoryline
{
	width: 400px;
	height: 70px;
	display: inline-flex;
	background-color: var(--NarListBack);
	border-style: none;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	top: 0px;
	bottom: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
}

.assethisttype
{
	position:relative;
	top:0;
	left:0;
	width: 48px;
	height: 48px;
	
}

.assethistaccount
{
	position:relative;
	left:-80px;
	top:0px;
	width:100px;
	height:20px;
}



.assethistdate
{
	position:relative;
	left:10px;
	top:-30px;	
	width: 100px;
	height:20px;	
}

.assethistammount
{
	text-align: right;
	position:relative;
	left:-10px;
	top:5px;	
	font-size: 24px;
	font-color:var(--NarMidBar);	
	font-weight: bold;
	width: 180px;
	height:20px;	
}


