@charset "utf-8";
/* CSS Document */


.addaccount_face
{
	display:inline-block;
	position:absolute;
	top:0px;
	left:0px;
	width:359px;
	height:510px;
	overflow: hidden;
	justify-items: center;
	
}

.addaccount_face h1
{
	font-size: 25px;	
	font-weight:200;
	color:var(--NarMidBar);

}

.addaccount_face h2
{
	font-size: 18px;	
	font-weight: 200;
	width: 300px;
	text-align: center;
	display: inline-block;
	padding-left: 40px;
}

.addaccount_face h3
{
	font-size:10px;
	font-weight: 200;
	width: 300px;
	text-align: center;
	display: inline-block;	
	padding-left: 40px;
}

.backarea
{
	padding-top:13px;
	text-align: center;
	height: 40px;
	width: 20px;;

}

.titulo
{
	position: absolute;
	top:5px;
	left:10px;
	width:360px;
	text-align: center;
	height: 50px;
}


.in 
{

	margin-left:40px ;
	
}