@charset "utf-8";
/* CSS Document */

/* ALL BUTTONS */

.button {
  width: 60px;
  height: 48px;
  display: block;
  margin: 2px;
  background-repeat: no-repeat;
  color: white;
  font-size: 10px;
  text-align: center; 
  border-style: none;
  background-color: var(--NarBackground);
  padding:0px;
  padding-top: 33px;
  background-size: 30px;
  background-position-x: center;

}

.morepage
{

  width:361px;
  height:48px;
  background-color: var(--NarMidBar);
  color:white;
  padding-top: 26px;
 
  margin:0px;
  background: rgb(51,46,147);
	background: linear-gradient(131deg, rgba(51,46,147,1) 0%, rgba(53,93,168,1) 100%);
  border-style: solid;
  border-width: 1px;
  border-top-color:rgb(135, 170, 233) ;
  border-left-color: rgb(135, 170, 233);
  border-right-color: rgb(31, 27, 104);
  border-bottom-color: rgb(31, 27, 104);
  
}

.morepage:hover
{
  background: rgb(153,210,247);
  background: linear-gradient(131deg, rgba(153,210,247,1) 0%, rgba(92,89,167,1) 100%);
}

.filler
{
  position: absolute;
  top:0px;
  left:0px;
  width: 160px;
  color:white;
  height: 44px;
  background-color: transparent;
  display: block;
  border-width: 1px;
  border-style: solid;

  border-top-color:rgb(135, 170, 233) ;
  border-left-color: rgb(135, 170, 233);
  border-right-color: rgb(31, 27, 104);
  border-bottom-color: rgb(31, 27, 104);
}

.cancel 
{
  position: absolute;
  top:0px;
  left:260px;
  width: 100px;
  color:white;
  height: 44px;
  background-color: transparent;
  display: block;
  border-width: 1px;
  border-style: solid;

  background-color: rgb(109, 15, 15);
  border-top-color:rgb(135, 170, 233) ;
  border-left-color: rgb(135, 170, 233);
  border-right-color: rgb(31, 27, 104);
  border-bottom-color: rgb(31, 27, 104);
  
  
}

.cancel:hover
{
  background-color: rgb(216, 30, 30);
}

.ok
{
  position: absolute;
  top:0px;
  left:160px;
  width: 100px;
  color:white;
  height: 44px;
  background-color: transparent;
  display: block;
  border-width: 1px;
  border-style: solid;
  background-color: rgb(21, 75, 50);
  border-top-color:rgb(135, 170, 233) ;
  border-left-color: rgb(135, 170, 233);
  border-right-color: rgb(31, 27, 104);
  border-bottom-color: rgb(31, 27, 104);
   
}

.ok:hover
{
  background-color: rgb(49, 165, 111);
}

.big {
  
  width: 300px;
  height: 35px;
  
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  

  font-size: 14px;
  font-weight: 100;

  padding: 0px;
  padding-top: 0px;
  
  display: block;
  border-style: solid;
  border-width: 1px;
  color:white;
  border-radius: 2px;

  background: rgb(51,46,147);
	background: linear-gradient(131deg, rgba(51,46,147,1) 0%, rgba(53,93,168,1) 100%);
  border-top-color:rgb(135, 170, 233) ;
  border-left-color: rgb(135, 170, 233);
  border-right-color: rgb(31, 27, 104);
  border-bottom-color: rgb(31, 27, 104);

  align-content: center;

}

.big:hover {
  background: rgb(153,210,247);
  background: linear-gradient(131deg, rgba(153,210,247,1) 0%, rgba(92,89,167,1) 100%);
}

/*buttons that appear in light background*/

.edit {
  background-image: url("../icons/SVG/edit_dark.svg");
}

.edit:hover {
  background-image: url("../icons/SVG/edit_light.svg");
}

.more {
  position:absolute;
  top:5px;
  left:305px;
  background-image: url("../icons/SVG/more_dark.svg");
}

.more:hover {
  background-image: url("../icons/SVG/more_light.svg");
}



.lock {
  background-image: url("../icons/SVG/lock_light.svg");
}

.lock:hover {
  background-image: url("../icons/SVG/lock_dark.svg");
}

.back {
  position: absolute;
  left:5px;
  top:5px;
  width: 18px;
  padding:0px;
  background-image: url("../icons/SVG/back_dark.svg");
  background-size: 16px;
}

.back:hover {
  background-image: url("../icons/SVG/back_light.svg");
}

/*buttons that appear in dark background*/

.receive {
  background-image: url("../icons/SVG/send_light.svg");

}

.receive:hover {
  background-image: url("../icons/SVG/send_dark.svg");
}

.unlock {
  background-image: url("../icons/SVG/key_light.svg");
}

.unlock:hover {
  background-image: url("../icons/SVG/key_dark.svg");
}

.send {
  background-image: url("../icons/SVG/receive_light.svg");
}

.send:hover {
  background-image: url("../icons/SVG/receive_dark.svg");
}

.stake {
  background-image: url("../icons/SVG/stake_light.svg");
}

.stake:hover {
  background-image: url("../icons/SVG/stake_dark.svg");
}

.add {
  background-image: url("../icons/SVG/plus_light.svg");
}

.add:hover {
  background-image: url("../icons/SVG/plus_dark.svg");
}


.addaccount {
  background-image: url("../icons/SVG/plus_light.svg");
}

.addaccount:hover {
  background-image: url("../icons/SVG/plus_dark.svg");
}


.unlocked {
  background-image: url("../icons/SVG/key_light.svg");
}

.unlocked:hover {
  background-image: url("../icons/SVG/key_dark.svg");
}

.connect {
  background-image: url("../icons/SVG/link_light.svg");
}

.connect:hover {
  background-image: url("../icons/SVG/link_dark.svg");
}

.remove {
  background-image: url("../icons/SVG/minus_light.svg");
}

.remove:hover {
  background-image: url("../icons/SVG/minus_dark.svg");
}

.generic
{
  width: 130px;
  height: 60px;
  
  margin: 8px;
  margin-top: 15px;
  padding:10px;
  

  font-size: 12px;
  font-weight: 100;

  padding: 0px;
  padding-top: 0px;
  
  display: block;
  border-style: solid;
  border-width: 1px;
  color:white;
  border-radius: 2px;

  background: rgb(51,46,147);
	background: linear-gradient(131deg, rgba(51,46,147,1) 0%, rgba(53,93,168,1) 100%);
  border-top-color:rgb(135, 170, 233) ;
  border-left-color: rgb(135, 170, 233);
  border-right-color: rgb(31, 27, 104);
  border-bottom-color: rgb(31, 27, 104);

  align-content: center;
}


.generic:hover
{

  background: rgb(153,210,247);
  background: linear-gradient(131deg, rgba(153,210,247,1) 0%, rgba(92,89,167,1) 100%);

}