@charset "utf-8";
/* Main div container -------------------------------------------------------------*/
	
.appface 
{
	
position:absolute;
	
left: 0px;
	
top:41px;
	
width: 350px;
	
height: 560px;
	
background-color: var(--NarBackground);
	
border-style:none;
	
padding: 10px;
}

.appface.show {
	left:0px
}

.appface.slide-hide {
	left:-600px
}

	
.hidden
{
	display: none;
}

.visible
{
	display: inline-block;
}


/* Bottom Bar ---------------------------------------------------------------------*/

.bottombar {
	  position:absolute;
	  width: 380px;
	  height: 48px;
	  max-height: 48px;
	  display: inline-block;
	  top: 514px;
	  left: 0px;
	  border-top-color: var(--NarDarkHighlight);
	  border-top-style: solid;
	  border-top-width: 1px;
	  display: inline-flex;
	  justify-content:flex-end;
	  background-color: var(--NarTope);
	}


/* Top Bar ------------------------------------------------------------------------*/

.topbar 
{
	position:absolute;
	color: black;
	font-weight:lighter;
	font-size: 12px;
	width: 400px;
	height: 40px;
	display: inline-block;
	background-color: var(--NarTope);
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

.topbarleft
{
	position:absolute;
	color: white;
	width: 40px;
	height: 40px;
	display: inline-block;
	/* background-color: var(--NarTope); */
	top: 0px;
	left: 4px;
	margin-left: 0px;
	padding: 0px;
	background-image: url("../images/logo_48.png");
	background-repeat: no-repeat;
	background-size: 32px;
	background-position:left;
	background-position: (15% 1%);
}

.topbarcaption
{
	position:absolute;
	color: white;
	font-weight:lighter;
	width: 150px;
	height: 16px;
	display: inline-flex;
	/* background-color: var(--NarTope); */
	top: 8px;
	left: 40px;
	margin-left: 0px;
	padding: 0px;
	font-size: 16px;
}

.topbarpulldown
{
	position:absolute;
	color: white;
	font-weight:lighter;
	font-size: 12px;
	width: 148px;
	height: 40px;
	display: inline-block;
	top: 2px;
	left: 190px;
	margin: 0px;
	padding: 0px;
	
}

.topbarhamburguer
{
	position:absolute;
	color: white;
	font-weight:lighter;
	font-size: 12px;
	width: 40px;
	height: 40px;
	display: inline-block;
	top: 0px;
	left: 359px;
	margin: 0px;
	padding: 0px;
	background-image: url("../images/hamb.png");
}

.topbarhamburguer:hover
{
	background-color: var(--NarTopeHighLight);
	
}

.serverpulldown
{
	position:absolute;
	display: inline-block;
	background-color: var(--NarTope);
	color:white;
	width:150px;
	top:12px;
	border-style: none;
	border-bottom: solid;
	border-bottom-width: thin;
	font-size:12px;
}