@charset "utf-8";
/* Main div container -------------------------------------------------------------*/

h2 {
  color: var(--TextHightlight);
  font-weight: 200;
  font-size: 24px;

  padding: 5px;
  width: 300px;
  height: auto;
  overflow-wrap: break-word;
  margin: auto;
}

h3 {
  color: black;
  font-weight: 200;
  font-size: 14px;
  padding: 5px;
  width: 300px;
  height: auto;
  overflow-wrap: break-word;
  margin: auto;
}

h4 {
  color: black;
  font-weight: 100;
  font-size: 12;
  padding: 5px;
  width: 300px;
  height: auto;
  overflow-wrap: break-word;
  margin: auto;

}

h5 {
  color: black;
  font-weight: 300;
  font-size: 14;
  padding: 5px;
  width: 300px;
  height: auto;
  overflow-wrap: break-word;
  margin: auto;
}

label
{
  color: black;
  font-weight: 300;
  font-size: 12;
  padding: 5px;
  width: 300px;
  height: auto;
  overflow-wrap: break-word;
  margin: auto;
  margin-top: 15px;
}

.biginput
{
  margin-top:15px;
  width:300px;
  height:50px;
}

.combotextbox
{
  width: 360px;
  height: 30px;
  display: block;
  position: relative;
  padding: 5px;

}


.combotextbox input {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  width: 200px;
  height: 24px;
  margin:auto;
  top: 1px;
}


input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;

}

.appface {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 40px;
  width: 361px;
  height: 522px;
  background: rgb(214, 214, 214);
  background: linear-gradient(
    131deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  overflow: hidden;
  text-align: center;
  align-items: center;
}

.appface.show {
  left: 0px;
}

.appface.slide-hide {
  left: -600px;
}

.hidden {
  display: none !important;
}

.visible {
  display: inline-block;
}

.button-group {
  position: absolute;
  display: block;
  text-align: right;
  top: 480px;
  left: 0px;
  width: 361px;
  height: 45px;

  margin: 0px;


}

.contentarea
{
  position: relative;
  width: 100%;
  height: 100%;
  padding:10px;
  text-align: center;
  background-color: transparent;

}

.subpage {
  position: absolute;

  padding:0px;
  
  top: 190px;
  left: 0px;
  width: 361px;
  height: 500px;
  max-height: 328px;

  background: rgb(214, 214, 214);
  background: linear-gradient(
    131deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  text-align: center;
  align-items: center;
}

.boximportante {
  position: relative;
  width: 300px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;

  height: auto;
  font-size: 15px;
  font-weight: 300;
  padding: 5px;
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
  overflow-wrap: break-word;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.accountdetstopcenter {
  position: absolute;
  display: inline-block;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 361px;
  height: 130px;
  max-height: 130px;
  background: rgb(214, 214, 214);
  background: linear-gradient(
    131deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  overflow-y: hidden;
  
  
}

.accountdetstopcenter h1 {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 18px;
  font-weight: 300;
  color: navy;
}

.accountdetstopcenter h2 {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 12px;
  font-weight: 200;
  color: black;
}

.accountdetstopcenter h3 {
  margin: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 23px;
  font-weight: 300;
  color: darkgreen;
}

.accountdetstopcenter h4 {
  margin: 0px;
  margin-top: 5px;
  padding: 10px;
  font-size: 12px;
  font-weight: 200;
  color: black;
}

.accountdetsmidbar {
  position: absolute;
  top: 131px;
  left: 0px;
  width: 359px;
  padding: 0px;

  padding-top: 5px;

  display: inline-flex;
  justify-content: center;

  background: rgb(51, 46, 147);
  background: linear-gradient(
    131deg,
    rgba(51, 46, 147, 1) 0%,
    rgba(53, 93, 168, 1) 100%
  );
  border-style: solid;
  border-width: 1px;
  border-top-color: var(--DarkBorderLightAcccent);
  border-left-color: var(--DarkBorderLightAcccent);
  border-right-color: var(--DarkBorderDarkAcccent);
  border-bottom-color: var(--DarkBorderDarkAcccent);
}

.inputboxwithbutton {
  width: 360px;
  height: 30px;
  display: block;
  position: relative;
  margin: auto;
  padding: 5px;
}

.inputboxwithbutton input {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 5px;
  text-align: center;
  width: 220px;
  height: 28px;
  left: 32px;
  top: 1px;
}

.inputboxwithbutton button {
  position: absolute;
  border-style: solid;
  border-width: 1px;

  text-align: center;
  width: 80px;
  height: 28px;
  left: 242px;
  top: 1px;
  color:var(--LightBorderLightAccent);

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background: rgb(51, 46, 147);
  background: linear-gradient(
    131deg,
    rgba(51, 46, 147, 1) 0%,
    rgba(53, 93, 168, 1) 100%
  );
  border-style: solid;
  border-width: 1px;
  border-top-color: var(--DarkBorderLightAcccent);
  border-left-color: var(--DarkBorderLightAcccent);
  border-right-color: var(--DarkBorderDarkAcccent);
  border-bottom-color: var(--DarkBorderDarkAcccent);
}

.scroll {
  overflow-y: scroll;
}

.logo-128 {
  padding: 20px;
  width: 130px;
  height: 130px;
  display: inline-block;
  background-image: url(../icons/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 1px;
  margin-top: 15px;
}

/* Bottom Bar ---------------------------------------------------------------------*/

.bottombar {
  position: absolute;
  width: 359px;
  height: 55px;
  max-height: 55px;
  display: inline-block;
  top: 465px;
  left: 0px;
  padding-top: 4px;
  display: inline-flex;
  justify-content: flex-end;

  background: rgb(51, 46, 147);
  background: linear-gradient(
    131deg,
    rgba(51, 46, 147, 1) 0%,
    rgba(53, 93, 168, 1) 100%
  );
  border-style: solid;
  border-width: 1px;
  border-top-color: var(--DarkBorderLightAcccent);
  border-left-color: var(--DarkBorderLightAcccent);
  border-right-color: var(--DarkBorderDarkAcccent);
  border-bottom-color: var(--DarkBorderDarkAcccent);
}

/* Top Bar ------------------------------------------------------------------------*/

.topbar {
  position: absolute;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 12px;
  width: 100%;
  height: 39px;
  display: inline-block;
  background: linear-gradient(
    131deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;

  border-style: solid;
  border-width: 1px;
  border-top-color:var(--LightBorderLightAccent);
  border-left-color:var(--LightBorderLightAccent);
  border-right-color:var(--LightBorderDarkAccent);
  border-bottom-color:var(--LightBorderDarkAccent);
}

.topbarleft {
  position: absolute;
  width: 40px;
  height: 40px;
  display: inline-block;
  /* background-color: var(--NarTope); */
  top: 0px;
  left: 4px;
  margin-left: 0px;
  padding: 0px;
  background-image: url("../images/logo_48.png");
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: left;
  background-position: (15% 1%);
}

.topbarcaption {
  position: absolute;
  color: rgb(0, 0, 0);
  font-weight: 300;
  width: 150px;
  height: 16px;
  display: inline-flex;
  /* background-color: var(--NarTope); */
  top: 8px;
  left: 46px;
  margin-left: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 200;
}

.topbarpulldown {
  position: absolute;
  color:var(--LightBorderLightAccent);
  font-weight: lighter;
  font-size: 12px;
  width: 148px;
  height: 40px;
  display: inline-block;
  top: 5px;
  left: 170px;
  margin: 0px;
  padding: 0px;
  font-weight: 200;
}

.topbarhamburguer {
  position: absolute;
  color:var(--LightBorderLightAccent);
  font-weight: lighter;
  font-size: 12px;
  width: 40px;
  height: 40px;
  display: inline-block;
  top: 0px;
  left: 359px;
  margin: 0px;
  padding: 0px;
  background-image: url("../images/hamb.png");
}

.topbarhamburguer:hover {
  background-color: var(--NarTopeHighLight);
}

.serverpulldown {
  position: absolute;
  display: inline-block;
  background-color: var(--NarTope);
  color:var(--LightBorderLightAccent);
  width: 150px;
  top: 12px;
  border-style: none;
  border-bottom: solid;
  border-bottom-width: thin;
  font-size: 12px;
}

/* add (N) */
.balance:after {
  content: "\24c3";
  /*content: "©";*/
  padding-left: 0.15em;
  font-size: 12px;
  position: relative;
  top: -4px;
}

.backarea {
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  display: block;
  height: 40px;
  width: 40px;
  margin: 0px;
  padding-top: 8px;
}

.titulo {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 40px;
  width: 318px;
  text-align: center;
  height: 40px;
}

.titulo h1 {
  font-size: 25px;
  font-weight: 200;
  color: var(--NarMidBar);
  margin: 5px;
}

.resultsarea {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 41px;
  width: 359px;
  height: 478px;
  overflow-y: scroll;
}

.listitem {
  position: relative;
  display: inline-block;
  background-color: var(--NarListBack);
  width: 359px;
  height: 40px;
  border-bottom: var (--LightGradientDarkTop) ;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.listitem h1 {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 200;
  color: var(--NarDarkText);
}

.listitem:hover {
  background-color: var(--NarListHoover);
}

.flex-row {
  display: flex !important;
  flex-flow: row nowrap;
  overflow: hidden;
  justify-content: space-evenly !important;
}

/*wait spinner*/

.lds-ring {
  display: inline-block;
  width: 20%;
  height: 20%;
  border-color: #fff transparent;
}

.lds-ring:after {
  content: " ";
  display: block;
  width: 20%;
  height: 20%;
  /*margin: 18px;*/
  border-radius: 50%;
  border: 30px solid;
  border-color: #fff transparent;
  animation: lds-dual-ring 0.75s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#wait {
  right: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #00000036;

  opacity: 0;
  z-index: -1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

#wait.show {
  opacity: 1;
  transition: opacity 1s 1s ease-in-out;
  z-index: 999;
}

#err-div {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 20px;
  z-index: 999;
}

#err-div > div {
  color: darkred;
  text-align: center;
  margin: 2px;
  padding: 15px;
  background-color: #981313;
  color: wheat;
  border: 4px solid wheat;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0;
  font-size: 14pt;
  max-height: 0px;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

#err-div > div.show {
  opacity: 1;
  max-height: 400px;
  word-break: break-word;
}
#err-div > div.success {
  background-color: #529453;
  border-width: 2px;
  color:var(--LightBorderLightAccent)smoke;
}
#err-div > div.info {
  background-color: #ecffff;
  border-width: 2px;
  color: #3b3b3b;
}
#err-div > div.warning {
  background-color: #eef1bb;
  border-width: 2px;
  color: #3b3b3b;
}
