/*#region text with button */

.inputboxwithbutton {
    width: 360px;
    height: 30px;
    display: block;
    position: relative;
    margin: auto;
    padding: 5px;
  }
  
  .inputboxwithbutton input {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 5px;
    text-align: center;
    width: 220px;
    height: 28px;
    left: 32px;
    top: 1px;
    border-color: var(--DarkColor);
  }
  
  .inputboxwithbutton button {
    position: absolute;
    border-style: solid;
    border-width: 1px;
  
    text-align: center;
    width: 80px;
    height: 28px;
    left: 242px;
    top: 1px;
    color: var(--LightColor);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background:var(--DarkColor);
  }
  

  /*#endregion*/

/*#region combobox */

  
  .combobox {
    position:relative;
  }
  
  .combobox select {
    background-color: #0563af;
    color:var(--LightBorderLightAccent);
    padding: 5px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-size: 14px;  
    -webkit-appearance: button;
    
    appearance: button;
    outline: none;
  }
  
  .combobox::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .combobox:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .combobox select option {
    padding: 30px;
  }

  /*#endregion */

/*#region combotextbox*/

  
.combotextbox {
  width: 470px;
  height: 30px;
  display: block;
  position: relative;
  padding: 5px;
}

.combotextbox input {
  /*position: relative;*/
  border-style: solid;
  border-color: lightblue;
  border-width: 1px;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  width: 190px;
  height: 24px;
  margin: auto;
  top: 1px;
  box-shadow:2px 2px 8px lightskyblue;
}

.combotextboxtoken {
  width: 480px;
  height: 40px;
  display: flexbox;
  position: relative;
  padding: 5px;
  align-content: center;
}

.combotextboxtoken input {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  width: 300px;
  height: 24px;
  margin:0px;
  top: 1px;
  border-color: var(--DarkColor);
}


  /*#endregion*/