/*@font-face {
    font-family: 'Arimo';
    src: url('Arimo-VariableFont_wght.ttf') format('truetype'); 
  }  
*/

body {
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* overflow-x: hidden; */
    position: relative;
    /* align-items: center; */
    min-width: 350px;
    min-height: 600px;
    overflow: hidden;
}

.app-header {
    background: #f2f3f4;
    z-index: 12;
    display: block;
    flex: 0 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    align-content: center;
    max-height: 52px;
}

.app-header-contents {
    /* width: 100%; */
    display: flex;
    flex-flow: row nowrap;
    padding-left: 20px;
    padding-right: 37px;
    /* align-items: center; */
}

.app-header-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
}

.app-header-logo {
    width: 40px;
    height: 40px;
}

.app-header-account-menu-container {
    display: flex;
    align-items: start;
    flex-flow: row;
    flex: 1 1 auto;
    /* width: 0; */
    justify-content: flex-end;
    padding-right: 15px;
    padding-top: 1px;
}

.network-component.pointer {
    border: 2px solid #bbc0c5;
    border-radius: 18px;
    padding: 6px 6px;
    flex: 0 0 auto;
    display: flex;
}

.network-indicator {
    display: flex;
    align-items: center;
    /* font-size: 0.6em; */
}

li {
    list-style-type: none;
}

.circle:before {
    display: inline-block;
    content: "";
    border: 2px solid #7f8186bd;
    margin: 0 6px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
}

.circle.green:before {
    background-color: #33ed4b;
}

.circle.cyan:before {
    background-color: #3cc8c8;
}

.circle.yellow:before {
    background-color: #c7b737;
}

.circle.violet:before {
    background-color: #7c45ac;
}

.circle.red:before {
    background-color: #da0a0ab5;
}

.networks-list-box {
    position: absolute;
    top: 46px;
    left: auto;
    z-index: 55;
    right: 12px;
    max-height: 0px;
    overflow: hidden;
    opacity: .25;
    transition: top 0.25s ease-in-out, max-height 0.25s ease-in-out, opacity 0.45s ease-in-out;
}

.networks-list-box.open {
    max-height: 700px;
    opacity: 0.9;
    top: 52px;
}

.networks-list-content {
    border-radius: 4px;
    padding: 18px 8px;
    background: rgb(16 16 16);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 2px;
}

.network-box-header .title {
    color: whitesmoke;
    font-size: 14pt;
    padding-bottom: 5px;
}

.down-arrow {
    background-image: url(../icons/down-chevron.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 0.6em;
    min-width: 10px;
    min-height: 10px;
    margin: 0 8px;
    min-width: 10px;
    min-height: 10px;
}

.network-box-header hr {
    border-color: #7090ab;
    width: 90%;
}

.networks-list-content li:hover {
    background-color: rgb(64 64 64);
    border-radius: 4px;
    opacity: 1;
}

.networks-list-content li {
    color: rgb(185, 185, 185);
    list-style: none;
    padding: 5px 22px 5px 1px;
    font-size: 16px;
    font-style: normal;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    line-height: 20px;
    border-color: rgb(3, 135, 137);
}

.networks-list-content li span {
    padding-left: 7px;
}

.title {
    text-align: center;
    margin-top: 8px;
}
.subtitle {
    text-align: center;
    max-width: 354px;
}

.btn {
    background: #e40030;
    border: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}

.app-contents {
    display: block;
    position: relative;
    /* flex: 0 0 auto; */
    /* padding: 20px 40px; */
    /* flex-direction: column; */
    /* align-content: center; */
    overflow-x: hidden;
    width: 450px;
    min-height: 548px;
    overflow-y: auto;
}

h1 {
    text-align: center;
    font-weight: 250;
}

#welcome-new-user-page h1{
    margin: 24px;
    font-size: 3.8em;
}

#welcome-new-user-page .contents-body{
    display: flex;
    height: 100%
    flex-flow: column nowrap;
    height: 500px;
    justify-content: center;
}

h2 {
    text-align: center;
    color: #1d1d1d;
    font-size: 2.1em;
    font-weight: 250;
}

h3 {
    text-align: center;
    font-weight: 250;
    font-size: 1.2em;
}

.contents-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.contents-body, form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: 200;
}



#import-account button {
    padding: 5px 20px 5px 20px;
    margin: 7px 20px;
}



.select-action-button-box {
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    margin: 10px 23px;
    padding: 3px;
    min-width: 320px;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 0 0;
}

.select-action-button-box>p {
    padding: 0px 22px;
}


/* IMPORT ACCOUNT */
#account-search-results {
    font-size: 1.4em;
    border: 2px solid #9292be;
    border-radius: 7px;
    /* padding: 8px; */
    /* margin: 20px 0px; */
    max-width: 400px;
    min-width: 400px;
    padding: 5px;
    margin: 5px;
}


.flex-labeled-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: baseline;
    /* font-size: 1.2em; */
}

.flex-labeled-row {
    display: flex;
    flex-flow: row nowrap;
    justify-items: stretch;
    width: 100%;
}

.flex-labeled-row>label:after {
    /*label*/
    content: ":"
}


.flex-labeled-row .name {
    /*label*/
    flex: 1 1 70%;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    word-break: break-all;
    border-radius: 4px;
    background-color: #cee8ff;
    color: #2e2b2b;
    font-size: 1em;
    font-weight: 300;
    /* max-height: 30px; */
    padding: 4px 7px;
    margin: 2px;
    /* min-height: 30px; */
    text-align: left;
    vertical-align: middle;
    line-height: 1.2em;
    align-items: center;
    display: flex;
}

.flex-labeled-row .balance {
    /*value*/
    flex: 0 0 auto;
    border-radius: 4px;
    background-color: #c5eac7;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 334px;
    padding: 0px 7px;
    margin: 2px;
    align-self: center;
    min-height: 30px;
    text-align: right;
    vertical-align: middle;
    line-height: 30px;
}

.flex-labeled-row>div.account-name {
    background-color: #d5efff;
    text-align: center;
}


#accounts-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}

#accounts-list:nth-child(n) {
    border-top: 1px solid #8080805e;
}

.account-item, .total-row {
    /* display: flex; */
    /* flex-flow: column nowrap; */
    /* justify-content: flex-start; */
    /* align-items: baseline; */
    font-size: 1.2em;
    /*border: 2px solid #9292be;*/
    border-bottom: 1px solid #80808021;
    /*border-radius: 7px;*/
    padding: 4px 7px;
    margin: 0px 0px;
    min-width: 86%;
    /* flex: 1 0; */
    width: 100%;
}
.total-row{
    margin-bottom: 5px;
}

.account-item-group {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-bottom: 0px; */
}

.account-item-group * {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 6px;
    border-radius: 8px;
    font-weight: 300;
    margin-right: 4px;
    min-height: 36px;
    text-overflow: ellipsis!important;
    overflow: hidden!important;
}
.account-item-group > label {
    justify-content: space-around;
}

.account-item-group.staked label{
    /* display: flex; */
    flex: 1 1 10%;
}

.account-item:not(.unselectable):hover {
    background-color: #7c907d6e;
    cursor: pointer;
}

.account-item .type {
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    max-height: 30px;
    /* display: block; */
    white-space: nowrap;
}

.account-item .name , .total-row .name {
    /* display: flex; */
    flex: 1 1 30%;
    /* padding: 0px 7px; */
    /* margin: 1px 7px; */
    /* min-height: 30px; */
    /* max-height: 30px; */
    text-align: left;
    /* vertical-align: middle; */
    /* line-height: 30px; */
    background-color: #cee8ff;
    /* max-width: 260px; */
}


.account-item .type {
    background-color: #e1e1e1;
}

.invisible{
    visibility: hidden;
}
.account-item > * {
    /*drag only on the LI*/
    pointer-events: none;
}
/*
.unselectable{
    user-select: none;
}
*/

.name.total {
    display: inline-block;
    text-align: right;
    padding-right: 6px;
    opacity: 0.6;
    background-color: transparent;
}

.three-dots {
    background-color: lightgray;
    min-width: 19px;
    min-height: 37px;
    margin: 13px 3px;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 0px;
    margin-right: 0px;
    padding-top: 6px;
}

.three-dots:after {
    content: '\2807';
    font-size: 26px;
    color: #8f8f8f;
}

#account-get-message {
    font-size: 0.8em;
    line-height: 1em;
    text-align: left;
    word-break: break-word;
    flex: 2 1;
    padding: 2px;
    font-weight: 400;
}

.red-bg {
    background-color: #c56666 !important;
    color: white
}

.footer-buttons {
    flex-flow: column;
    align-items: center;
    display: flex;
    width: 100%;
}

.button-group {
    flex-flow: row nowrap;
    justify-content: space-around;
    display: flex;
    min-width: 230px;
    max-width: 250px;
    padding: 3px 0px;
    border-top: solid 1px lightgray;
}

.button-group.no-top-line {
    border-top: 0px;
    margin-top: 0px;
    /* max-width: 80%; */
}

button  {
    font-size: 1.3em;
    flex: 1 1 30%;
    min-height: 35px;
    /* max-height: 40px; */
    padding: 6px 10px 10px 12px;
    line-height: 0.8em;
    margin: 4px;
}

.two-col-button  {
    max-height: 35px;
    min-width: 242px;
}

.account-selected header {
    width: 100%;
    height: 32px;
    margin-left: 40px;
    font-weight: 200;
    border-bottom: 1px solid #eaeaea;
    padding-top: 3px;
    padding-left: 10px;
}

.back-link {
    cursor: pointer;
}

.back-link:before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
    left: -0.5em;
    position: relative;
    top: 0.21em;
    transform: rotate(-135deg);
    vertical-align: top;
}

.selected-account-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    /* align-items: center; */
    width: 100%;
    padding: 2px 6px;
    line-height: 1.3em;
    /* justify-content: flex-start; */
    /* align-items: baseline; */
    margin-top: 3px;
}

.selected-account-info label {
    display: flex;
    flex: 1 1 15%;
    text-overflow: ellipsis!important;
    border-radius: 4px;
    background-color: #e1e1e1;
    color: black;
    font-size: 1.2em;
    font-weight: 300;
    white-space: nowrap;
    min-height: 30px;
    align-items: center;
    padding-left: 4px;
}

.balance {
    /* padding-left: 5px; */
    letter-spacing: 0.04em;
    background-color: #c4f0cf !important;
    word-break: normal !important;
    text-align: right!important;
    justify-content: flex-end!important;
    /* flex: 1 1 auto; */
    /* flex-flow: row nowrap; */
    /* flex: 0 0 20%; */
    /* padding: 0px 6px; */
    /* align-self: center; */
    /* min-height: inherit; */
    /* max-height: inherit; */
    /* text-align: right; */
    /* line-height: inherit; */
    /* border-radius: 8px; */
    /* font-weight: 300; */
}

.selected-account-info div div {
    background-color: #cee8ff;
    color: black;
    flex: 1 1 auto;
/*    
    /* margin: 4px; */
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: 300;
    word-break: break-all;
    line-height: 1.1em;
}


.single-account-item-group {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 3px;
}

.single-account-item-group * {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 6px;
    border-radius: 8px;
    font-weight: 300;
    margin-right: 4px;
    min-height: 30px!important;
    text-overflow: ellipsis!important;
    overflow: hidden!important;
    white-space: break-spaces!important;
    line-height: 1em;
}

.account-item-group.small-labels div{
    /* word-break: keep-all; */
    white-space: nowrap;
    overflow: hidden;
    /* max-height: 26px; */
    /* flex-wrap: nowrap; */
    /* text-overflow: ellipsis; */
    /* display: inline; */
}

.access-status{
    flex: 1 1 0%!important;
    text-align: center;
    cursor:pointer;  
}
.access-status:hover{
    border-color: #fa971e;
    background-color: #e89700e6;
    transition: border-color 0.4s ease, background-color 0.4s ease;  
}

/*account-item-group.staked div div{
    font-size: 0.84em !important;
}
*/

.small-labels {
    font-size: 0.75em !important;
    line-height: 1.7em;
    /* max-height: 30px; */
}

.small-labels label {
    text-align: center;
    min-height: 24px;
}
.small-labels div {
    min-height: 30px;
    max-height: 30px;
}

  
.subpage .title {
    flex-flow: row nowrap;
    justify-content: space-around;
    display: flex;
    /* max-width: 400px; */
    padding: 0px 0px;
    font-size: 0.6em;
    margin: 0px;
    font-weight: 900;
    min-width: 350px;
}
  
.subpage .title h2 {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 90%;
    font-size: 2em;
}
.subpage .title h2::before, 
.subpage .title h2::after {
    content: '';
    display: block;
    height: 0.09em;
    min-width: 2vw;
    flex: 1 1 10%;
  }
  
.subpage .title h2::before {
    background: linear-gradient(to right, rgba(240,240,240,0), #a55555);
    margin-right: 4vh;
  }
  
.subpage .title h2::after {
    background: linear-gradient(to left, rgba(240,240,240,0), #a55555);
    margin-left: 4vh;
  } 

.important-label {
    font-size: 1.1em;
    padding-left: 16px;
    padding-bottom: 4px;
    padding-top: 8px;
    color: black;
    word-break: break-all;
    /* padding: 10px; */
}

button.big{
    padding: 8px 10px 12px 11px!important;
    margin-top: 19px!important;
    margin-bottom: 20px!important;
    min-width: 250px;
    min-height: 50px;
    display: block;
    /* align-items: center; */
    border: 2px solid #ffff0030;
    font-size: 1.6em;
    /* font-weight: 600!important; */
}

button.wide{
    min-width: 300px;
}

button.ultrabig{
    padding: 8px 0px 13px 14px!important;
    margin-top: 19px!important;
    margin-bottom: 20px!important;
    min-width: 250px;
    min-height: 50px;
    display: block;
    /* align-items: center; */
    border: 2px solid #ffff001f;
    font-size: 2em;
    font-weight: 500!important;
    letter-spacing: 13px;
}

.send-form input {
    font-size: 1.3em;
}

.options-list{
    padding: 40px 16px;
    height: 478px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.options-list div {
    display: flex !important;
    flex-flow: row wrap;
    padding: 2px 24px;
}
.options-list div input[type="checkbox"]{
    /* position: relative; */
    /* top: -8px; */
    flex: auto;
    /* flex: 1 1 auto; */
    max-height: 18px;
}
.options-list div label{
    flex: 1 1;
    /* max-width: 150px; */
    /* text-align: right; */
}

.options-list div.explanation{
    padding: 0px 40px 2px 70px;
    margin-top: 4px;
    margin-bottom: 22px;
    line-height: 1.4em;
}
.options-list div input[type="number"]{
    max-width: 5em;
    text-align: center;
    padding: 5px;
    border-color: lightgray;
    top: 3px;
}
