/*#region account items -------------------------------------------------------------------*/

.accountlistitem
{
	position: relative;
	height: 48px;
	width: 460px;
	display: inline-block;
	font-weight: lighter;
	overflow: hidden;
	margin:0px;
	border-width: 1px;
	border-radius: 0px;
	background-color:var(--lightcolor);
	border-color: var(--DarkColor);
	border-style: none;
}

.accountlistitem:hover 
{
	background-color: var(--MedColor);
}

.accountlistname 
{
	position:relative;

	color:var(--LightColor);
	font-size: 14px;
    font-weight: 100;
	overflow:auto;
	display: inline-block;
	text-align: left;
	left: 0px;
    padding-left: 6px;
	width: 460px;
	height:20px;
	top:0px;
	background-color: var(--DarkColor);;
}

.accountlistbalance 
{
	position:absolute;
	text-align: right;
	color:var(--HighLight);
	font-weight: 200;
	font-size: 24px;
	display: block;
	width: 260px;
	right: 5px;
	height: 20px;
	top:20px;

}

.accountlistcomment 
{
	position:absolute;
	display: inline-block;
	text-align: left;
	width: 200px;
    font-weight: 200;
	height:16px;
	top: 22px;
	left:5px;
	font-size: 12px;
	color: var(--DarkColor);
	
}

/*#endregion */

/*#region asset*/

.accountdetsassets {

position: relative;

width: 468px;

height: 68px;

display: block;

background: var(--LightBackground);

border-style: none;

border-bottom-style: solid;

border-width: 1px;

border-radius: 0px;

border-color: var(--DarkColor);

margin-bottom: 0px;

}
  
  .accountdetsassets:hover {
	background-color: var(--MedColor);
  }
  
  .accountassetcoin {
	position: absolute;
	border-style: none;
	display: inline-block;
	top: 30px;
	left: 47px;
	width: 40px;
	font-size: 16px;
	font-weight: 200;
	}
  
  .accountassettoken {
	
	position: absolute;
	display: block;
	font-size: 12px;
	
	top: 0px;
	left: 0px;
	width: 464px;
	height: 16px;
	padding-right:5px;
	border-style: none;
	border-radius: 0px;
	
	background-color: var(--DarkColor);
	text-align: right;
	font-weight: 100;
	color:var(--LightColor);
	
  }
  
  .accountasseticon svg {
	position: absolute;
	top: 27px;
	left: 7px;
	width: 26px;
	height: 26px;
	/*background-color: var(--LightBorderDarkAccent);*/
	}
  
  .accountassetbalance {
	position: absolute;
	display: block;
	border-style: none;
	font-weight: 200;
	font-size: 24px;
	top: 26px;
	right:15px;
	width: 415px;
	text-align: right;
	color: var(--HighLight);
	}
  
  .accountassetfiat {
	position: absolute;
	display: block;
	border-style: none;
	color: black;
	font-size: 12px;
	font-weight: 500;
	top: 45px;
	right: 5px;
	width: 200px;
	text-align: right;
  }


/*#endregion*/

/*#region search result 
	<div id="account-line" class="flex-labeled-row small-labels">
					<div class="name">{name}</div>
					<div class="balance">{accountInfo.lastBalance}</div>
	</div>
*/

.name 
{
	width: 480px;
	height: 16px;
	font-size: 14px;
	display: block;
	background-color: var(--DarkColor);
	color:var(--LightBackground);
	
}

.balance 
{
	width: 480px;
	height: 16px;
	font-size: 14px;
	display: block;
	background-color: var(--MedColor);
	color:var(--DarkColor);
}


/*#endregion*/