/*#region account items -------------------------------------------------------------------*/

.accountlistitem {
  position        : relative;
  height          : 62px;
  width           : 460px;
  display         : inline-block;
  font-weight     : lighter;
  overflow        : hidden;
  margin          : 0px;
  border-width    : 1px;
  border-radius   : 0px;
  background-color: var(--Background);
  border-color    : var(--Block);
  border-style    : none;
}

.address-item:hover {
  background-color: var(--HoverColor);
}

.accountlistitem:hover {
  background-color: var(--HoverColor);
}

.accountlistname {
  position        : relative;
  color           : var(--BlockText);
  font-size       : 14px;
  font-weight     : 250;
  overflow-x      : hidden;
  display         : inline-block;
  text-align      : left;
  left            : 0px;
  padding-left    : 6px;
  padding-top     : 11px;
  padding-bottom  : 2px;
  width           : 470px;
  height          : 17px;
  top             : 0px;
  background-color: var(--Block);
}

.accountlistbalance {
  position   : absolute;
  text-align : right;
  color      : var(--TextRemark);
  font-weight: 200;
  font-size  : 24px;
  display    : block;
  width      : 260px;
  right      : 5px;
  height     : 22px;
  top        : 30px;
}

.accountlistcomment {
  position   : absolute;
  display    : inline-block;
  text-align : left;
  width      : 200px;
  font-weight: 200;
  height     : 16px;
  top        : 30px;
  left       : 5px;
  font-size  : 12px;
  color      : var(--TextGeneric);
}

/*#endregion */

/*#region asset*/

.accountdetsassets {
  font-size : 1;
  position  : relative;
  width     : 449px;
  height    : 68px;
  display   : block;
  background: var(--Background);
  left      : 16px;
}

.accountdetsassets:hover {
  background-color: var(--HoverColor);
  border-radius   : 6px;
}

.accountassetcoin {
  position     : absolute;
  border-style : none;
  display      : inline-block;
  text-align   : left;
  top          : 30px;
  left         : 47px;
  width        : 500px;
  font-size    : 18px;
  font-weight  : 200;
  color        : var(--TextGeneric);
  max-width    : 230px;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.accountassettoken {
  position        : absolute;
  display         : block;
  font-size       : 12px;
  top             : 2px;
  left            : 0px;
  width           : 436px;
  height          : 16px;
  padding-top     : 5px;
  padding-right   : 5px;
  border-style    : none;
  border-radius   : 0px;
  background-color: var(--Block);
  text-align      : right;
  font-weight     : 250;
  color           : var(--BlockText);
  opacity         : 0.9;
}

.accountasseticon svg {
  position: absolute;
  top     : 27px;
  left    : 7px;
  width   : 26px;
  height  : 26px;

  /*background-color: var(--LightBorderDarkAccent);*/
}

.accountasseticon img {
  position: absolute;
  top     : 27px;
  left    : 7px;
  width   : 26px;
  height  : 26px;

  /*background-color: var(--LightBorderDarkAccent);*/
}

.accountassetbalance {
  position    : absolute;
  display     : block;
  border-style: none;
  font-weight : 200;
  font-size   : 24px;
  top         : 25px;
  right       : 15px;
  width       : 415px;
  text-align  : right;
  color       : var(--TextRemark);
}

.accountassetfiat {
  position    : absolute;
  display     : block;
  border-style: none;
  color       : var(--BlockText);
  font-size   : 10px;
  font-weight : 500;
  top         : 52px;
  right       : 16px;
  width       : 200px;
  text-align  : right;
  opacity     : 0.7;
}

/*#endregion*/

/*#region history*/

.history-line {
  /* font-size : 1; */
  position  : relative;
  width     : 468px;
  height    : 53px;
  display   : block;
  background: var(--Background);
}

.history-line:hover {
  background-color: var(--HoverColor);
}

.history-type {
  position     : absolute;
  border-style : none;
  display      : inline-block;
  text-align   : left;
  top          : 26px;
  left         : 43px;
  /* width     : 500px; */
  min-width    : 250px;
  font-size    : 13px;
  font-weight  : 300;
  color        : var(--TextGeneric);
  max-width    : 230px;
  overflow     : hidden;
  text-overflow: ellipsis;
  /* right     : 100; */
}

.history-date {
  position        : absolute;
  display         : block;
  font-size       : 12px;
  top             : 0px;
  left            : 0px;
  width           : 464px;
  height          : 16px;
  padding-top     : 5px;
  padding-right   : 5px;
  border-style    : none;
  border-radius   : 0px;
  background-color: var(--Block);
  text-align      : right;
  font-weight     : 250;
  color           : var(--BlockText);
}

.history-icon svg {
  position: absolute;
  top     : 25px;
  left    : 7px;
  width   : 26px;
  height  : 26px;

  /*background-color: var(--LightBorderDarkAccent);*/
}

.history-icon img {
  position: absolute;
  top     : 25px;
  left    : 7px;
  width   : 26px;
  height  : 26px;

  /*background-color: var(--LightBorderDarkAccent);*/
}

.history-amount {
  position    : absolute;
  display     : block;
  border-style: none;
  font-weight : 200;
  font-size   : 19px;
  top         : 23px;
  right       : 15px;
  width       : 385px;
  text-align  : right;
  color       : var(--TextRemark);
}

.history-fiat {
  position    : absolute;
  display     : block;
  border-style: none;
  color       : var(--TextGeneric);
  font-size   : 12px;
  font-weight : 500;
  top         : 45px;
  right       : 5px;
  width       : 200px;
  text-align  : right;
}

/*#endregion*/


/*#region search result 
	<div id="account-line" class="flex-labeled-row small-labels">
					<div class="name">{name}</div>
					<div class="balance">{accountInfo.lastBalance}</div>
	</div>
*/

.nameresult {
  width           : 470px;
  height          : 20px;
  font-size       : 14px;
  display         : block;
  background-color: var(--Block);
  color           : var(--BlockText);
  margin          : auto;
  padding-top     : 3px;
}

.balanceresult {
  width           : 470px;
  height          : 24px;
  font-size       : 20px;
  display         : block;
  background-color: var(--HoverColor);
  color           : var(--TextRemark);
  margin          : auto;
  margin-bottom   : 3px;
}

/*#endregion*/