@charset "utf-8";
/* CSS Document */


.receive_face
{
	display:inline-block;
	width:359px;
	height:510px;
	overflow: hidden;
	grid-template-columns: 20px 339px;
	grid-template-rows:70px 400px;
	
	justify-items: center;
}

.receive_face h1
{
	font-size: 25px;	
	font-weight:200;
	color:var(--NarMidBar);

}

.receive_face h2
{
	
	font-size: 18px;
	line-height: 2px;
	font-weight: 200;
	margin-top: 20px;
	top:0px;
}

.receive_face h3
{
	position: relative;
	top: 50px;
	font-size:20px;
	font-weight: 300;
	line-height: 2px;
	
}

.descri
{
	position: absolute;
	top:160px;
	left:0px;
	display:inline-block;
	text-align: center;
	align-content: center;
	width:359px;
}


