@charset "utf-8";
/* CSS Document */


.receive_face
{
	display:inline-grid;
	width:359px;
	height:510px;
	overflow: hidden;
	grid-template-columns: 20px 339px;
	grid-template-rows:repeat(7,auto);
	justify-items: center;
}

.receive_face h1
{
	font-size: 25px;	
	font-weight:200;
	color:var(--NarMidBar);

}

.receive_face h2
{
	
	font-size: 18px;
	font-weight: 200;
	margin-top: 20px;
	top:0px;
}

.receive_face h3
{
	position: relative;
	top: 50px;
	font-size:20px;
	font-weight: 300;
	
}

.descri
{
	position: relative;
	top:0px;
	left:0px;
	display: block;
	text-align: center;
}

.backarea
{
	padding-top:13px;
	text-align: center;
	height: 40px;
	width: 20px;;

}

.titulo
{
	text-align: center;
	height: 50px;
	
}
