.wrapper {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  background: transparent;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  padding-top: 3px;
  height: 7px;
  width: auto;
  margin: 0px 2px;
  background: lightblue;
  display: inline-block;
  color: white;
  border-radius: 5px 5px 0px 0px;
  border-style: solid;
  border-bottom-style: none;
  border-width: 1px;
  border-color: lightblue;
}

.panels {
  background: transparent;

  min-height: 200px;
  width: 100%;
  max-width: 500px;
  border-radius: 0px;
  max-height: 4000px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-top-style: solid;
  border-color: lightblue;
  overflow-y: scroll;
  height: 500px;
}

.panel {
  height: 300px;
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.radio {
  display: none;
}

.radio.one:checked ~ .panels .panel.one,
.radio.two:checked ~ .panels .panel.two,
.radio.three:checked ~ .panels .panel.three {
  display: block;
  overflow-y: scroll;
}

.radio.one:checked ~ .tabs .tab.one,
.radio.two:checked ~ .tabs .tab.two,
.radio.three:checked ~ .tabs .tab.three {
  background: transparent;
  color: var(--DarkBackgroundTop);
  border-style: solid;
  border-width: 1px;
  
}
