.wrapper
{
    padding-top: 5px;
    display:flex;
    flex-direction: column;
    align-items: left;
}

  .tab{
    cursor: pointer;
    padding:10px 20px;
    padding-top: 5px;
    margin:0px 2px;
    background:var(--NarBackground);
    display:inline-block;
    color:var(--NarMidBar);
    border-radius:3px 3px 0px 0px;
    border-style: solid;
    border-bottom-style: none;
    border-width: 1px;
  }

  .panels{
    background:#fffffff6;
    min-height:200px;
    width:100%;
    max-width:500px;
    border-radius:3px;
    overflow:hidden;
    padding:20px;  
    border-style: solid none none none;
    border-color: var(--NarMidBar);
    border-width: 2px;
  }

  .panel{
    display:none;
  }

  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }

  .radio{
    display:none;
  }

  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel{
    display:block
  }

  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab{
    background:var(--NarMidBar);
    border-style: solid;
    border-width: 1px;
    border-color: var(--NarMidBar);
    color:var(--NarBackground);
    border-bottom-style: none;
  }
