@charset "utf-8";
/* CSS Document */

/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body { font-family: 'Noto Sans', sans-serif; }
@supports (font-variation-settings: normal) {
  body { font-family: 'Noto Sans', sans-serif;}
}
*/

@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', sans-serif; !important }
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; !important }
}


::-webkit-scrollbar {
	display: none;
  }


body {
	  /*font-family:segoe Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";*/
	  width: 360px;
	  height: 557px;
	  margin: 0px;
	  overflow: hidden;
	  padding:0px;
	  border-style: solid;
	  border-width: 1px;
	  background-color: white;
  }



/*Colores */

:root {

	  --Background:rgb(216, 216, 216);  
	  --PanelBackground: rgb(255,255,255);

	  --LightBackground: rgb(214,214,214);
	  --LightGradientTop: rgba(214,214,214,1);
	  --LightGradientBottom: rgba(255,255,255,1);

	  --LightBorderLightAccent: white;
	  --LightBorderDarkAccent: darkgrey;
	  
	  --lightGradientDarkTop: lightgray;
	  --LightGradientDarkBot: darkgray;


	  --DarkBackground: rgb(51,46,147);
	  --DarkBackgroundTop: rgba(51,46,147,1);
	  --DarkBackgroundBot: rgba(53,93,168,1);
	  --DarkBorderLightAccent:rgb(135, 170, 233) ;
	  --DarkBorderDarkAccent: rgb(31, 27, 104);
	  
	  --DarkGradientLight:rgba(153,210,247,1);
	  --DarkGradientdark:rgba(92,89,167,1);


	  /*Font Colors*/
	  --TextHightlight: rgb(163, 107, 22);

	  /*block colors*/

	}


	
