@charset "utf-8";
/* CSS Document */

/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body { font-family: 'Noto Sans', sans-serif; }
@supports (font-variation-settings: normal) {
  body { font-family: 'Noto Sans', sans-serif;}
}
*/

@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', sans-serif; !important }
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; !important }
}


::-webkit-scrollbar {
	display: none;
  }



/*Colores */

:root {

	/*#region Color dark 3 */

	--TextLightColor: rgb(255, 255, 255); 

	--DarkColor:  rgb(129, 153, 207); /* es el color de la midbar y toda barra donde haya texto claro */

	--DarkBlockColor: rgb(8, 16, 36);

	--MedColor:rgb(36, 51, 100); /* color de hover en las listas */

	--LightColor:rgb(15, 26, 53); /* color de fondo de app, mantener en blanco en lo posible */

	--HighLight: rgb(33, 236, 111); /* color para textos importantes */

	--HighLightDetail: #ffc400; /* color para elementos de interface que tenga que resaltar, ej: hover de los tabs */

	--ControlBackgroud: rgb(36, 51, 100); 

	/*#endregion */

}



body {
	  /*font-family:segoe Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";*/
	  width: 480px;
	  height: 600px;
	  margin: 0px;
	  overflow: hidden;
	  padding:0px;
	  border-style: none;
	  border-width: 1px;
	  background-color:var(--LightColor);
	  
  }




	
