@charset "utf-8";
/* CSS Document */


@import url('https://rsms.me/inter/inter.css');

body {
	font-family: 'Inter', sans-serif;
	 !important
}

@supports (font-variation-settings: normal) {
	body {
		font-family: 'Inter var', sans-serif;
		 !important
	}
}


::-webkit-scrollbar {
	display: none;
}



/*Colores */

:root {

	/*#region Color dark 3 */

	--Background: rgb(201, 201, 201);

	--Block: rgb(0, 132, 172);

	--BlockText: rgb(255, 255, 255);

	--TextColor: rgb(0, 18, 44);

	--TextRemark: rgb(2, 25, 54);

	--TextGeneric: rgb(6, 31, 68);

	/*--HoverColor:rgb(255, 238, 4); /* color de hover en las listas */

	--HoverColor: rgb(212 186 102);

	--HighLight: rgb(255, 196, 0);
	/* color para textos importantes */

	--ControlBackgroud: rgb(147, 215, 255);

	--ControlText: rgb(255, 255, 255);

	--ControlAltText: rgb(0, 0, 0);

	--ControlAccent: rgb(255, 123, 0);
	/*#endregion */
}


body {
	/*font-family:segoe Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";*/

	width           : 480px;
	height          : 600px;
	margin          : 0px;
	overflow        : hidden;
	padding         : 0px;
	border-style    : none;
	border-width    : 1px;
	background-color: var(--Background);
	color           : var(--TextColor);
}