@charset "utf-8";
/* CSS Document */


@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', sans-serif; !important }
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; !important }
}


::-webkit-scrollbar {
	display: none;
  }



/*Colores */

:root {

	/*#region Color dark */

	--Background: rgb(8, 21, 44);

	--Block: rgb(2, 6, 17);
	--BlockText: rgb(255, 255, 255); 

	--TextColor:  rgb(93, 142, 216);
	--TextRemark: rgb(172, 159, 49); 
	--TextGeneric: rgb(93, 142, 216);

	--HoverColor:rgb(36, 51, 100); /* color de hover en las listas */

    --HighLight: rgb(189, 139, 1); /* color para textos importantes */
    --ControlBackgroud: rgb(36, 51, 100); 
	--ControlText:rgb(255,255,255);
	--ControlAltText:rgb(255, 255, 255);
	--ControlAccent:  rgb(32, 106, 216);

	/*#endregion */

}


body {
	  /*font-family:segoe Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";*/
	  width: 480px;
	  height: 600px;
	  margin: 0px;
	  overflow: hidden;
	  padding:0px;
	  border-style: none;
	  border-width: 1px;
	  background-color:var(--Background);
	  color:var(--TextColor);
}

.appface
{
  display:block;
  text-align: center;
  top:0px;
  left:0px;
  width: 480px;
  height: 600px;

}

.hidden {
  display: none;
}

li {
  list-style: none;
  font-size: 18px;
  font-weight: 200;
}

ul {
  border: 1px solid white;
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.sep30
{
  display: block;
  height: 30px;
  width: auto;
}

.sep10
{
  display: block;
  height: 10px;
  width: auto;
}

h2
{
  color: var(--TextRemark);
  font-size: 28px;
  font-weight: 200;
  display: block;
  width: 400px;
  height: auto;
  word-wrap: break-word;
  margin: auto;
  padding:5px;

}

h3
{
  color: var(--TextGeneric);
  font-size: 18px;
  font-weight: 200;
  display: block;
  width: 400px;
  height: auto;
  word-wrap: break-word;
  margin: auto;
  padding: 2px;
}


.cancel 
{
  position: absolute;
  top:0px;
  left:345px;
  width: 86px;
  color:white;
  height: 34px;
  margin:0px;
  display: block;
  border-radius: 16px;
  border-style: none;
  background-color: #c13e3e;
}

.cancel:hover
{
  cursor:hand;
}

.ok
{
  position: absolute;
  top:0px;
  left:240px;
  width: 86px;
  color:white;
  height: 34px;
  margin:0px;
  display: block;
  border-radius: 16px;
  border-style: none;
  background-color: rgb(14 138 80);
}

.ok:hover
{
  cursor:hand;
}

.button-group {
  position: fixed;
  display: block;
  text-align: right;
  top: 466px;
  left: 5px;
  width: 150px;
  height: 45px;
  
  margin: 0px;
  z-index: 98;
  }
  