body {
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  padding: 10px;
  background-color: #c1e9eb;
}

html {
  height: 100%;
}

header,article {
  display: flex;
  flex-flow: column;
  align-items: center;
}
h1,h2,h3,h4 {
  text-align: center;
  font-weight: 270!important;
  word-break: break-word;
  margin: 6px!important;
}
h3,h4 {
  margin: 2px;
}
article {
  height: 100%;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
header {
    background-color: #ffffff;
    min-height: 50px;
    padding: 10px;
}
footer {
    min-height: 2px;
    width: 100%;
}

.list {
    width: 100%;
    align-items: center;
}

li {
    list-style: none;
    padding: 14px 10px;
    border-radius: 6px;
    border: 2px solid #a8c2d9;
    width: 90%;
}

li:hover {
    background-color:#b0b56933;

}

.near{
    background-color:#ffff0042;
    padding: 4px;
}

li div{
    font-size: 1.2em;
    margin-bottom: 5px;
    word-break: break-all;
}

.button-group{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.yellow {
    background-color: #ffff0042;    
}
.red{
    background-color: #ff000042;
}
.green{
    background-color: greenyellow;
}

button.small {
  max-height: 20px !important;
  line-height: 0.5em;
  min-height: 28px;
  letter-spacing: 2px;
}
