*, *:before, *:after {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

h1, h2 {
  text-align:center;
  padding: 8px 0px;
  margin: 0px 0px;
}

#err-div {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
}
#err-div>div{
    color: darkred;
    text-align:center;
    margin: 2px;
    padding: 15px;
    background-color: #981313;
    color: wheat;
    border: 4px solid wheat;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;
    font-size:14pt;
    max-height:0px;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

#err-div>div.show{
    opacity: 1;
    max-height:200px;
}
#err-div>div.success {
  background-color: #529453;
  border-width: 2px;
  color: whitesmoke;
}

.logo-128 {
    padding: 20px;
    width: 148px;
    height: 148px;
    background-image: url(../icons/icon_128.png);
    background-repeat: no-repeat;
    background-position: center;
}

.logo-128.space {
    background-image:none;
}

.logo-32 {
    width: 38px;
    height: 36px;
    background-image: url(../icons/icon_48.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.logo-48 {
    padding: 10px;
    float: left;
    width: 58px;
    height: 58px;
    flex: 0 0 auto;
    background-image: url(../icons/icon_48.png);
    background-repeat: no-repeat;
    background-position: center;
}

.logo-48.space {
    background-image:none;
}

.page {
  position: absolute;
  top: 65px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  left:50%;
  transition: left 0.3s ease-in-out;
  width: 100%;
}
.page.show {
  left:0px
}
.page.slide-hide {
  left:-600px
}

.subpage.show {
  display:block;
}
.subpage.slide-hide {
  display:none;
}

.form-field-label {
    color: rgba(0, 0, 0, 0.54);
    padding: 5px 0;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.01em;
    min-width: 350px;
}

.form-control>input {
    padding: 0px 20px;
    font-size: 12pt;
    border: 2px solid #BBC0C5;
    border-radius: 6px;
    width: 100%;
    height: 3em;
    color: #363636;
}

.text-big {
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 18px;
    color: #000;
    margin-top: 12px;
    text-align: center;
    /* height: 50px; */
}

.text-small {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    color: #7a7a7b;
    margin-top: 10px;
    text-align: center;
    padding: 0px 12px;
    min-height: 20px;
}

.nodeco{
  text-decoration: none;
}
.nodeco:hover{
  text-decoration: underline;
}


.corner-logo {
  position:absolute;
  top: 10px;
  left: 10px;
  z-index: 95;
}


/*wait spinner*/
.lds-ring {
  display: inline-block;
  width: 180px;
  height: 180px;
  border-color: #386194 transparent #fff transparent;
}
.lds-ring:after {
  content: " ";
  display: block;
  width: 164px;
  height: 164px;
  margin: 18px;
  border-radius: 50%;
  border: 30px solid;
  border-color: #38619478 transparent #558e758a transparent;
  animation: lds-dual-ring .75s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end wait spinner */
#wait{
  right: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #00000036;
  /*background-image: url(/icons/ring.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #659ac747;
  */
  /* display: none; */
  opacity: 0;
  z-index: -1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

#wait.show{
  /* display:block; */
  opacity: 1;
  transition: opacity 1s 1s ease-in-out;
  z-index: 999;
}
