html, body {
    font-family: sans-serif, Arial;
    color: #4d4d4d;
    font-weight: 400;
    /* width: 100%; */
    /* height: 100%; */
    /* margin: 0; */
    padding: 2;
    font-size: 16px;
    overflow: auto;
}

.main-container-wrapper {
    justify-content: center;
    min-height: 0;
    padding: 40px;
    width: 100%;
}

.app-header {
    display: flex;
    align-items: center;
    min-height: 200px;
}

.select-action-wrapper {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.select-action-button-box {
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    margin: 10px 2px;
    padding: 5px;
    min-width: 320px;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 0 0;
}
.select-action-button-box>p {
    padding: 0px 22px;
}

.select-action-content {
    height: 120px;
}

.text-big {
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 18px;
    color: #000;
    margin-top: 12px;
    text-align: center;
    /* height: 50px; */
}

.text-small {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    color: #7a7a7b;
    margin-top: 10px;
    text-align: center;
    padding: 0px 12px;
    min-height: 40px;
}

button  {
    padding: 10px 20px;
    margin: 15px 20px;
    font-weight: 500;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    border-radius: 6px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    flex: 0 0 auto;
    max-width: 150px;
    max-height: 50px;
}

.btn-primary {
    color: #fff;
    border: 2px solid #037dd6;
    background-color: #037dd6;
}
